/* OPTION PAGES */

.cmb2-options-page .elliston-theme-options-box .cmb2-metabox>.cmb-row {
	border: none !important;
}

.cmb2-options-page .elliston-theme-options-box .cmb2-metabox>.cmb-row.elliston-section-heading {
	display: block;
	background: #fff !important;
	border-bottom-width: 0 !important;
	padding-bottom: 1.5em;
}

.cmb2-options-page .elliston-theme-options-box .elliston-section-heading h3.cmb2-metabox-title {
	font-size: 1.25rem !important;
	font-weight: 700 !important;
	line-height: 0.95 !important;
	text-transform: none !important;
	display: inline-block !important;
	padding-top: 0.75em !important;
	padding-bottom: 1em !important;
}

.cmb2-options-page .elliston-theme-options-box .elliston-section-heading h3.cmb2-metabox-title span.dashicons-before:before {
	margin-right: 0.375em;
}

.cmb2-options-page .elliston-theme-options-box .elliston-section-heading .cmb2-metabox-description {
	display: block;
	text-transform: none;
	font-size: 0.875rem;
	font-weight: 400;
	color: rgba(29,35,39,0.75);
	background-color: #F9F9F9;
	margin-left: -1em;
	margin-right: -1em;
	padding: 1em 20% 1em 1em !important;
}

.cmb2-options-page .elliston-theme-options-box .cmb-type-title {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.cmb2-options-page .elliston-theme-options-box .elliston-end-row {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding-bottom: 2em !important;
	margin-bottom: 2em !important;
}

.cmb2-options-page .elliston-theme-options-box .cmb2-media-status .img-status img {
	border: none !important;
	box-shadow: none !important;
	border-radius: 8px;
}

.cmb2-options-page .elliston-theme-options-box .cmb-th label {
	font-weight: 600;
}



span.elliston-theme-options-headline {
	font-weight: 700 !important;
	font-size: 1.75rem;
	letter-spacing: -0.003em;
	display: block;
}

span.elliston-theme-options-headline:before {
	content: ' ';
	display: inline-block;
	vertical-align: middle;
	width: 64px;
	height: 64px;
	border-radius: 32px;
	background-color: gray;
	margin-right: 16px;
}

.cmb2-options-page .elliston-theme-options-box .button-secondary:not(.cmb-shift-rows) {
	border:  none;
	font-weight: 600;
	min-height: 40px;
	padding: 0 20px;
	border-radius: 8px;
}

.cmb2-options-page .elliston-theme-options-box .button-secondary:not(.cmb-shift-rows) .dashicons {
	vertical-align: middle !important;
	width: 16px !important;
	height: 16px !important;
	font-size: 16px !important;
	margin-right: 4px;
	line-height: 0.9;
}

/* POST LEVEL OPTIONS */

.postbox-container .postbox:not(.cmb-repeatable-grouping) {
	border-radius: 8px;
	border-color: #E1E1E1;
}

.postbox-container .postbox .postbox-header {
	border-bottom-color: #E1E1E1;
	/*background-color: #F9F9F9;*/
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.postbox-container .postbox .postbox-header h2 {
	padding: 12px 12px !important;
	font-weight: 600;
}

.postbox-container .cmb2-postbox .cmb-row:not(:last-of-type) {
    border-bottom: none !important;
}

.postbox-container .cmb2-postbox .cmb2-wrap>.cmb-field-list>.cmb-row {
	padding: 1em 0;
}

.postbox-container .cmb2-postbox .cmb2-wrap>.cmb-field-list>.cmb-row.elliston-single-group {
	padding: 0;
	margin: 0;
}

.postbox-container .cmb2-postbox .cmb2-wrap>.cmb-field-list>.cmb-row.elliston-single-group-first {
	padding: 1em 0 0 0;
	margin: 0;
}

.postbox-container .cmb2-postbox .cmb2-wrap>.cmb-field-list>.cmb-row.elliston-single-group-last {
	padding: 0 0 1em 0;
	margin: 0;
}

.postbox-container .postbox .cmb-type-title.cmb-row {
	/* Eh, nothing */
}

.postbox-container .postbox .cmb-type-title h5 {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1;
	text-transform: none;
	padding-bottom: 0.75em;
}

.postbox-container .postbox .cmb-type-title h5 .dashicons-before:before {
	margin-right: 8px;
}

.postbox-container .postbox .cmb-type-title p.cmb2-metabox-description {
	display: block;
	text-transform: none;
	font-size: 0.875rem;
	font-weight: 400;
	color: rgba(29,35,39,0.75);
	background-color: #F9F9F9;
	margin-left: -12px;
	margin-right: -12px;
	padding: 1em 20% 1em 12px !important;
}

.postbox-container .cmb2-postbox .button-secondary:not(.cmb-shift-rows) {
	border:  none;
	font-weight: 600;
	min-height: 40px;
	padding: 0 20px;
	border-radius: 8px;
}

.postbox-container .cmb2-postbox .button-secondary:not(.cmb-shift-rows) .dashicons {
	vertical-align: middle !important;
	width: 16px !important;
	height: 16px !important;
	font-size: 16px !important;
	margin-right: 4px;
	line-height: 0.9;
}

.postbox-container .cmb2-postbox .cmb-th label {
	font-weight: 500;
}

.postbox-container .cmb2-postbox .cmb-repeat-table {
	border-radius: 6px;
}

.postbox-container .cmb2-postbox .cmb2-media-status .img-status img {
	border: none !important;
	box-shadow: none !important;
	border-radius: 8px;
}

.postbox-container .cmb2-postbox input[type=color], 
.postbox-container .cmb2-postbox input[type=date], 
.postbox-container .cmb2-postbox input[type=datetime-local], 
.postbox-container .cmb2-postbox input[type=datetime], 
.postbox-container .cmb2-postbox input[type=email], 
.postbox-container .cmb2-postbox input[type=month], 
.postbox-container .cmb2-postbox input[type=number], 
.postbox-container .cmb2-postbox input[type=password], 
.postbox-container .cmb2-postbox input[type=search], 
.postbox-container .cmb2-postbox input[type=tel], 
.postbox-container .cmb2-postbox input[type=text], 
.postbox-container .cmb2-postbox input[type=time], 
.postbox-container .cmb2-postbox input[type=url], 
.postbox-container .cmb2-postbox input[type=week], 
.postbox-container .cmb2-postbox select, 
.postbox-container .cmb2-postbox textarea {
	border-color: #D0D0D0;
}


.cmb-repeatable-group.non-sortable.non-repeatable {
	overflow: hidden;
	border-radius: 6px;
	box-shadow: 0 0 0 2px #e9e9e9 inset, 4px 4px 0 0 #F7F7F7;
	
}

.cmb-repeatable-group.non-sortable.non-repeatable .cmb-repeatable-grouping {
	margin-bottom: 0;
	border: none !important;
}

.cmb-repeatable-group.non-sortable.non-repeatable .postbox {
	background-color: transparent;
}

.cmb-repeat-group-wrap:has( .cmb-repeatable-group.non-sortable.non-repeatable ) {
	margin: 0 0 16px 0;
	padding: 0 !important;
}

#poststuff .cmb-repeatable-group.non-sortable.non-repeatable .cmb-group-title.cmbhandle-title {
	padding: 12px 20px !important;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 0.75rem !important;
}